<form method="POST" id="login_form">
   
    <div class="new_user form-group">
        <label for="email" class="text-light">email</label>
        <input type="hidden" name="id" value="" />
        <input type="text" name="name" placeholder="Sushant" />
    </div> <div class="new_user form-group">
        <label for="password" class="text-light">password</label>
        <input type="hidden" name="id" value="" />
        <input type="text" name="name" placeholder="Sushant" />
    </div>
    <div class="form-group">
        <button type="submit" class="btn text-dark update">Enter</button>
    </div>
</div>
</form>

 <!-- Login Form -->
 <form>
    <input type="text" id="login" class="fadeIn second" name="login" placeholder="login">
    <input type="text" id="password" class="fadeIn third" name="login" placeholder="password">
    <input type="submit" class="fadeIn fourth" value="Log In">
  </form>