<div class="container">
  <div class="box-nav d-flex-justify-between">
    <a href="/add-user" class="border-shadow">
      <span class="text-gradient"> Login <i class="fas fa-user"></i></span>
    </a>
  </div>
  <div class="box-nav d-flex-justify-between">
    <a href="/add-user" class="border-shadow">
      <span class="text-gradient"> Logout <i class="fas fa-user"></i></span>
    </a>
  </div>
  <div class="box-nav d-flex-justify-between">
    <a href="/add-user" class="border-shadow">
      <span class="text-gradient">
        List Products <i class="fas fa-user"></i
      ></span>
    </a>
  </div>
</div>
