<form method="POST" action="/api/products" id="add_products_form">
  <div>
    <div class="new_user form-group">
      <label for="prod_name" class="text-light">Product</label>
      <input type="hidden" name="prod_name" value="" />
      <input type="text" name="prod_name" placeholder="Product Name" />
    </div>

    <div class="new_user form-group">
      <label for="prod_price" class="text-light">Price</label>
      <input type="hidden" name="prod_price" value="" />
      <input type="number" name="prod_price" placeholder="price" />
    </div>

    <div class="new_user form-group">
      <label for="prod_quantity" class="text-light">Quantity</label>
      <input type="hidden" name="prod_quantity" value="" />
      <input type="number" name="prod_quantity" placeholder="Quantity" />
    </div>

    <div class="new_user form-group">
      <label for="prod_vendor" class="text-light">Vendor</label>
      <input type="hidden" name="prod_vendor" value="" />
      <input type="text" name="prod_vendor" placeholder="Vendor Name" />
    </div>

    <div class="new_user form-group">
      <label for="prod_warranty" class="text-light">Warranty</label>
      <input type="hidden" name="prod_warranty" value="" />
      <input
        type="number"
        name="prod_warranty"
        placeholder="Warranty in Years"
      />
    </div>

    <div type="hidden" class="new_user form-group">
      <label for="prod_id" class="text-dark"></label>
      <input type="hidden" name="prod_id" value="" />
    </div>

    <div class="form-group new_user">
      <button type="submit" class="btn text-dark update">Save</button>
    </div>
  </div>
</form>
