<!--include header-->
<%- include('_header')%>
<!--/include header-->

<tr>
  <td>1</td>
  <td>Username</td>
  <td>example@gmail.com</td>
  <td>male</td>
  <td>Active</td>
  <td>
    <a href="/update-user" class="btn border-shadow update"
      ><span class="text-gradient"><i class="fas fa-pencil"></i></span
    ></a>
    <a href="#" class="btn border-shadow update"
      ><span class="text-gradient"><i class="fas fa-trash"></i></span
    ></a>
  </td>
</tr>

<!--include footer-->
<%- include('_footer')%>
<!--/include footer-->
