<tr>
  <td>420</td>
  <td>Lajjat Papad</td>
  <td>185</td>
  <td>ravi kirana</td>
  <td>1kg</td>
  <td>
    <a href="/update_products" class="btn border-shadow update"
      ><span class="text-gradient"><i class="fas fa-pencil"></i></span
    ></a>
    <a class="btn border-shadow update"
      ><span class="text-gradient"><i class="fas fa-trash"></i></span
    ></a>
  </td>
</tr>
