<!-- Adds user/with no password -->
<!--include header 000-->
<%- include('_header')%>
<!--/include header-->
<!-- MAIN SECTION-->
<main id="site-main">
  <div class="container">
    <div class="box-nav d-flex-justify-between">
      <a href="/" class="border-shadow">
        <span class="filter"
          ><i class="fas fa-angle-double-left"></i> ALL USERS
        </span>
      </a>
    </div>
    <div class="form-title text-center">
      <h2 class="text-dark">New User</h2>
      <span class="text-light">Create A New Account</span>
    </div>
    <!--FORM HANDLING-->

    <%- include ('_form.ejs') %>
    <!--/FORM HANDLING-->
  </div>
</main>

<!-- /MAIN SECTION-->
<!--include footer-->
<%- include('_footer')%>
<!--/include footer-->
