<!-- Adds user/with no password -->
<!--include header 000-->
<%- include('_header')%>
<!--/include header-->
<!-- MAIN SECTION-->
<main id="site-main">
  <div class="container">
    <div class="box-nav d-flex-justify-between">
      <a href="list-products" class="border-shadow">
        <span class="filter"
          ><i class="fas fa-angle-double-left"></i> New Product
        </span>
      </a>
    </div>
    <div class="form-title text-center">
      <h2 class="text-dark">New Product</h2>
      <span class="text-grey">Add A New Product</span>
      <div>
        <!--FORM HANDLING-->

        <%- include ('_product_form.ejs') %>
        <!--/FORM HANDLING-->
      </div>
    </div>
  </div>
</main>

<!-- /MAIN SECTION-->
<!--include footer-->
<%- include('_footer')%>
<!--/include footer-->
