<!--include header 333-->
<%- include('_header')%>
<!--/include header-->

<main id="site-main">
  <div class="container">
    <div class="box-nav d-flex-justify-between">
      <a href="/add-products" class="border-shadow">
        <span class="text-gradient">
          ADD PRODUCT <i class="fas fa-plus"></i
        ></span>
      </a>
    </div>
    <!--FORM HANDLING-->
    <form action="/list-products" method="post">
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Warranty</th>
            <th>Vendor</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <%- include("_show_products.ejs")%>
        </tbody>
      </table>
    </form>

    <!--/FORM HANDLING-->
  </div>
</main>
<!--include footer-->
<%- include('_footer.ejs')%>
<!--/include footer-->
