<!-- // login form -->

<!-- Adds user/with no password -->
<!--include header 000-->
<%- include('_header')%>
<!--/include header-->
<!-- MAIN SECTION-->
<main id="login_page">
  <div class="container">
    <div class="box-nav d-flex-justify-between">
     
        
    </div>
    <div class="form-title text-center">
      <h2 class="text-dark">Login</h2>
      <span class="text-light">Enter Userid and password to login</span>
    </div>
    <div class="box-nav d-flex-justify-between text-center">
        <a href="/" class="border-shadow">
          <span class="text-gradient">
            Login (/)<i class="fas fa-sign-in"></i
          ></span>
        </a>
      </div>
    <!--FORM HANDLING-->

    <!--/FORM HANDLING-->
  </div>
</main>

<!-- /MAIN SECTION-->
<!--include footer-->
<%- include('_footer')%>
<!--/include footer-->
